@use './mixins';
@use './_colors';

*,
*::before,
*::after {
    box-sizing: border-box;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

html,
body {
    font-size: 1em;
    height: 100%;
    // overflow-x: hidden;
    scroll-behavior: smooth;
    width: 100%;
}

img {
    object-fit: cover;
    max-width: 100%;
}

img.lazy {
    opacity: 0;
}

img.lazy.fadeIn {
    @include mixins.transition;
    opacity: 1;
}


.wrapper {
    display: block;
    height: 100%;
    margin-top: 100px;
    padding: 0;
    width: 100%;
}

.row {
    @include mixins.center-spacing;
    display: block;
    width: 100%;
}

.container {
    @include mixins.center-spacing;
    max-width: 70%;
}