@use './mixins';
@use './_colors';

*,
*::before,
*::after {
    box-sizing: border-box;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

html,
body {
    font-size: 1em;
    height: 100%;
    width: 100%;
}


#wrapper {
    display: block;
    height: 100%;
    padding: .5em;
    width: 100%;
}

.row {
    @include mixins.center-spacing;
    display: block;
    width: 100%;
}

.container {
    @include mixins.center-spacing;
    max-width: 1200px;
}