{{ define "main" }}
<main class="list">
  <section class="hero" style="background: url('{{ .Params.img | absURL }}') no-repeat fixed center top / cover">
    <div class="row">
      <div class="container">
        <h1>{{ .Title }}</h1>
        {{- .Content -}}
      </div>
    </div>
  </section>
  <section class="breadcrumbs">
    {{ partial "breadcrumbs.html" . }}
  </section>
<section class="list-section">
  {{ range .Pages }}
  <div class="recipe-card">
    {{ if .Params.img }}
        <img data-src="{{ .Params.img | absURL }}" class="lazy" alt="{{ .Title }}" height="350" width="350">
      {{ end }}
    <div class="inner-card">
      <h2><a href="{{.RelPermalink | absURL }}" title="{{ .Description }}">{{ .Title }}</a></h2>
      <p>{{ .Description}}</p>
      <a href="{{ .RelPermalink | absURL }}" class="cta-btn" title="{{ .Description }}">{{ .Title }}</a>
    </div>
  </div>
  {{ end }}
</section>
</main>

{{ end }}
