$light-goldenrod-yellow: rgba(71, 53, 87, 1);
$silver-sand: rgba(192, 197, 193, 1);
$roman-silver: rgba(125, 132, 145, 1);
$english-violet: rgba(87, 75, 96, 1);
$english-violet-dark: rgba(87, 75, 96, 1)