@use './colors';

@mixin wavy-underline {
        text-decoration: underline wavy colors.$light-goldenrod-yellow 2px;
      -webkit-text-decoration: underline wavy colors.$light-goldenrod-yellow 2px;
      -moz-text-decoration: underline wavy colors.$light-goldenrod-yellow 2px;
}

@mixin center-spacing {
    display: block;
    margin: .25em auto;
    text-align: center;
}

@mixin underline {
    position: relative;
    &::after {
        background: colors.$roman-silver;
        box-shadow: 2px 2px 20px -10px colors.$english-violet-dark;
        bottom: -7px;
        content: '';
        display: inline-block;
        height: 3px;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        width: 80px;
        z-index: -1;
    }
}

@mixin reset-list {
    list-style: inside;
    margin: 0;
    padding: 0;
    li {
        @include transition;
        display: block;
        padding: .25em .5em;
    }

}

@mixin transition {
    transition: all 250ms linear;
    -webkit-transition: all 250ms linear;
    -moz-transition: all 250ms linear;
}

@mixin long-transition {
    transition: all 500ms linear 250ms;
    -webkit-transition: all 500ms linear 250ms;
    -moz-transition: all 500s linear 250ms;
}