@use './_mixins';
@use './_colors';
@use './typography';


.row.nav-btn-container {
  @include mixins.transition;
  background: #fff;
  padding: 1em;
  position: fixed;
  margin: 0em auto;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  .nav-toggle {
    @include mixins.transition;
    background: transparent;
    border: none;
    color: colors.$english-violet-dark;
    cursor: pointer;
    float: right;
    font-size: 1.75em;
    margin: {
      top: 0em;
      right: 1.5em;
      bottom: 0em;
      left: auto;
    }
    &.active {
      color: #fff;
    }
    z-index: 99;
  }
  &::after {
    content: "";
    display: table;
    clear: both;
  }
  &.active {
    background-color: #000;
  }


}

nav.main-nav {
  @include mixins.transition;
  background: transparent;
  height: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: {
    top: 0em;
    right: .25em;
    bottom: 0em;
    left: .25em;
  }
  position: fixed;
  top: 3em;
  width: 100%;
  img {
    display: none;
  }
  ul {
    @include mixins.reset-list;
    li {
      font-size: 1em;
      padding-left: 0;
      a {
        display: block;
        font-size: 1em;
        opacity: 0;
        padding: 1em 1.5em;
        width: 100%;
        :hover {
          color: #000;
        }
      }
    }
  }
  background:rgba(0, 0, 0, 0.9);
  z-index: 50;
}

@media screen and (min-width: 968px) {
  .row.nav-btn-container {
    display: none;
  }
  nav.main-nav {
    align-items: center;
    background: #fff;
    box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: flex-start;
    height: auto;
    overflow-y: hidden;
    padding: 1em .25em;
    position: fixed;
    top: 0;
    left: 0;
    transition-duration: 500ms;
    -webkit-transition-duration: 500ms;
    -moz-transition-duration: 500ms;
    transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    min-width: 50px;
     a  {
      color: colors.$english-violet-dark;
      display: inline-block;
      @include mixins.transition;
      height: 100%;
      margin-left: auto;
      margin-right: auto;
      max-height: 75px;
      transform-origin: center center;
      transition-duration: 500ms;
    -webkit-transition-duration: 500ms;
    -moz-transition-duration: 500ms;
    transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    :hover {
      color: #000;
    }
    img {
      @include mixins.transition;
      display: inline;
    }
    }
    ul {
      background: #fff;
      margin: 0 auto;
      overflow-y: none;
      li {
        display: inline;
        padding: {
          top: .5em;
          left: .25em;
          bottom: .5em;
          right: .25em;
        }
        a {
          @include mixins.transition;
          display: inline-block;
          font-size: 1em;
          opacity: 1;          
          width: auto;
          &:hover,
          &:active,
          &:focus {
            @include mixins.transition;
            color: #000;
            outline: 1px dotted colors.$light-goldenrod-yellow;
          }
        }
      }
    }
  }
}
