@use './_mixins';

section.products {
    margin: {
        top: -1rem;
    }
    overflow: hidden;
    position: relative;
    .row {
        display: flex;
        flex-direction: column;
        h3 {
            @include mixins.wavy-underline;
        }
        .product-card {
            background: rgba(255,255,255, 0.75);
            box-shadow: 2px 2px 20px -10px rgba(0, 0, 0, 0.5);
            margin: 0 auto 1em;
            max-width: 60ch;
            padding: .25em 1em;
            figure {
                overflow: hidden;
                padding: 0;
                figcaption {
                    font-weight: 600;
                }
                a { display: block;
                    height: auto;
                    margin: auto;
                    padding: 0;
                    max-width: 75%;
                    overflow: hidden;
                    img {
                        height: 100%;
                        object-fit: cover;
                        margin: none;
                        width: 100%;
                        &:hover {
                            transform: scale(1.2);
                        }
                    }
                }
                p {
                    margin: auto;
                }
                .card-info {
                    align-items: center;
                    background: rgba(0, 0, 0, 0.5);
                    justify-content: center;
                    flex-direction: column;
                    display: flex;
                    height: 100%;
                    width: 100%;
                    .price,
                    .shipping {
                        color: #fff;
                        text-align: left;
                        font-size: 2em;
                        width: 100%;
                    }
                }
            }
            .cta-btn {
                font-size: 1.50em;
                text-align: center;
            }
        }
        .circle {
            background:transparent;
            left: 0;
            min-height: 100%;
            position: absolute;
            top: 0;
            transform: scale(1.5) rotateZ(45deg);
            width: 50%;
            z-index: -1;
        }
    }
}

@media screen and (min-width: 968px) {
    section.products {
        .row {
            justify-content: space-between;
            flex-direction: row;
            max-width: 1200px;
            h3 {
                flex: 0 0 100%;
            }
            .product-card {
                flex: 0 1 45%;
            }
        }
    }
}